# Linear Regression

using beer consumption dataset that has temperatures of a particular day, rainfall measure,weekend or not and final response variable consumption of beer in liters.

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib as plt
%matplotlib inline
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
#reading csv data in dataframe
beer = pd.read_csv('beer.csv')
#printing first few lines
beer.head(10)

column names are in different language, renaming them

In [ ]:
beer.columns = ['Date', 'Temp_Median', 'Temp_Min', 'Temp_Max', 'Rainfall_mm', 'Weekend', 'Consumption_litres']

temperature values nd rainfall have comma instead of dot to denote the number and also should be converted to float

In [ ]:
cols = ['Temp_Median', 'Temp_Min', 'Temp_Max', 'Rainfall_mm']

#function to replace comma and convert to float
def replace_comma(columns):
    for col in cols:
        print(col)
        beer[col] = beer[col].str.replace(',','.').astype('float')

In [ ]:
beer[cols] = beer[cols].apply(replace_comma(cols))

In [ ]:
beer.head()